<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>33</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>32</string>
					<key>Timestamp</key>
					<string>746389279.439945</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Patio de estudio.playground/Pages/Seguridad en Apps.xcplaygroundpage</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func saveCredentials(username: String, password: String) {
</string>
				<key>leading</key>
				<string>    
    // Función para guardar credenciales en el Keychain
</string>
				<key>trailing</key>
				<string>        // Implementar guardado en Keychain aquí
        let pass = password.data(using: String.Encoding.utf8)!
        var query: [String: Any] = [
</string>
			</dict>
			<key>title</key>
			<string>Guardar user y pass keychain</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>51</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>50</string>
					<key>Timestamp</key>
					<string>746389279.439913</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Patio de estudio.playground/Pages/Seguridad en Apps.xcplaygroundpage</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func retrieveCredentials() -&gt; (username: String, password: String)? {
</string>
				<key>leading</key>
				<string>    
    // Función para obtener credenciales desde el Keychain
</string>
				<key>trailing</key>
				<string>        // Implementar recuperación desde el Keychain aquí
        /// Primero se crea un diccionario de consulta
        var query: [String: Any] = [
</string>
			</dict>
			<key>title</key>
			<string>obtener  credenciales</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>37</string>
					<key>EndingLineNumber</key>
					<string>103</string>
					<key>StartingColumnNumber</key>
					<string>9</string>
					<key>StartingLineNumber</key>
					<string>103</string>
					<key>Timestamp</key>
					<string>746390626.908192</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Patio de estudio.playground/Pages/Seguridad en Apps.xcplaygroundpage</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>authenticateUser(completion:</string>
				<key>leading</key>
				<string>    
    // Función para autenticar al usuario usando Face ID/Touch ID
    func </string>
				<key>trailing</key>
				<string> @escaping (Bool, Error?) -&gt; Void) {
        var error: NSError?
        if context.canEvaluatePolicy(.deviceOwnerAuthenticationWithBiometrics, error: &amp;error) {
</string>
			</dict>
			<key>title</key>
			<string>Face ID/Touch ID implement</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
